@model IEnumerable<HealthInsurance.Models.OutstandingBenefit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OdDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceProducts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceProducts.ProductName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ObId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ObId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ObId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
