@model HealthInsurance.Models.DiseaseList

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DiseaseList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiseaseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiseaseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lv1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lv1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lv2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lv2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lv3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lv3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceProducts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceProducts.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DiseaseId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
