@model IEnumerable<HealthInsurance.Models.DiseaseList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiseaseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lv1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lv2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lv3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceProducts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiseaseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lv1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lv2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lv3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceProducts.ProductName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiseaseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiseaseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiseaseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
