@model IEnumerable<HealthInsurance.Models.UserInformation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- ============================================================== -->
<!-- pageheader  -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Dashboard</h2>
            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Quản lý Khách hàng</a></li>
                        <li class="breadcrumb-item active" aria-current="page">HiBOC</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
                        
</div>
<!-- ============================================================== -->
<!-- end pageheader  -->
<!-- ============================================================== -->

<div class="row">
                    
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">User Account</h5>
            <div class="card-body">
                <div class="table-responsive">	
                    <table class="table table-striped table-bordered first">
                        <thead>
                            <tr>
                                <th>
                                    Tên khách hàng
                                </th>
                                <th>
                                    Ngày sinh
                                </th>
                                                
                                <th>
                                    Giới tính
                                </th>
                                <th>
                                    Số ĐT
                                </th>
                                <th>
                                    Địa chỉ
                                </th>
                                <th>
                                    Avatar
                                </th>
                                <th>
                                    ...
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model) {

                                <tr role="row" class="even">
                                    <td class="sorting_1">@item.FullName</td>
                                    <td>@item.Birthday.ToString("dd/MM/yyyy")</td>
                                    <td>@item.Sex</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Address</td>
                                    <td>
                                        <img src="../ProjectLayout/images/@item.AvtImage" class="rounded-circle user-avatar-xxl">
                                    </td>
                                    <td>
                                        <button class="btn btn-space btn-primary">Sửa</button>
                                        <button class="btn btn-space btn-secondary">Xóa</button>
                                    </td>

                                </tr>
                                          
                            }
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end basic table  -->
    <!-- ============================================================== -->
</div>
