@model DashBoardModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>





<!-- ============================================================== -->
<!-- pageheader  -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Dashboard</h2>
            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">HiBOC Dashboard</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
                        
</div>
<!-- ============================================================== -->
<!-- end pageheader  -->
<!-- ============================================================== -->


<div class="row">
    <!-- ============================================================== -->
    <!-- sales  -->
    <!-- ============================================================== -->
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text-muted">Doanh thu (<strong>VND</strong>)</h5>
                <div class="metric-value d-inline-block">
                    @{
                        int sum = 0;

                    }
                    @foreach (var item in @Model.contractInsurances)
                    {
                        @foreach (var item1 in @Model.packageInsurances)
                        {
                            if (item.PackageId == item1.PackageId)
                            {
                                string price = item1.Price;
                                int intPrice = int.Parse(price.Replace(".", ""));
                                sum += intPrice;

                            }
                        }
                        
                    }
                    @{
                        string result = sum.ToString("#,##0");
                    }

                    <h1 class="mb-1">@result </h1>
                </div>
                
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end sales  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- new customer  -->
    <!-- ============================================================== -->
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text-muted">SL Khách hàng</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">@Model.userInformation.Count()</h1>
                </div>
                
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end new customer  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- visitor  -->
    <!-- ============================================================== -->
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text-muted">SL Gói bảo hiểm</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">@Model.packageInsurances.Count()</h1>
                </div>
                
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end visitor  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- total orders  -->
    <!-- ============================================================== -->
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text-muted">Hợp đồng</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">@Model.contractInsurances.Count()</h1>
                </div>
                
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end total orders  -->
    <!-- ============================================================== -->
</div>

<div class="row">
<!-- ============================================================== -->
                      
<!-- ============================================================== -->




    <div class="col-lg-12 col-md-8 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Revenue</h5>
            <div class="card-body">
                <figure class="highcharts-figure">
                    <div id="container"></div>
                    
                </figure>
            </div>
            
        </div>
    </div>


    <script>

        @{
            int a = sum / 1000000;
        }
        
        
        Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Doanh Thu'
            },
            subtitle: {
                text: '(Hàng tháng)' 
            },
            xAxis: {
                title: {
                    text: '(2024)'
                },
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: '(Triệu đồng)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: [{
                name: 'Bảo hiểm',
                data: [@a, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
            }]
        });

    </script>

                

